WCFArticle/ConsoleArticle/Connected Services/ServiceReferenceArticle/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFArticle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFArticle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfFileArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileArticle" nillable="true" type="tns:FileArticle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileArticle" nillable="true" type="tns:ArrayOfFileArticle" />
  <xs:complexType name="FileArticle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileArticle" nillable="true" type="tns:FileArticle" />
</xs:schema>