WCFArticle/ConsoleArticle/Connected Services/ServiceReferenceArticle/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49774/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49774/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49774/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFArticle" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFileArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFileArticles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllFileArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFileArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticleToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArticleToFile" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticleToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArticleToFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAllArticlesToFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAllArticlesToFile" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAllArticlesToFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAllArticlesToFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifyPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateABill_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateABill" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateABill_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateABillResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFileArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllFileArticles" message="tns:IService1_GetAllFileArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllFileArticlesResponse" message="tns:IService1_GetAllFileArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArticleToFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddArticleToFile" message="tns:IService1_AddArticleToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddArticleToFileResponse" message="tns:IService1_AddArticleToFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAllArticlesToFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAllArticlesToFile" message="tns:IService1_AddAllArticlesToFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAllArticlesToFileResponse" message="tns:IService1_AddAllArticlesToFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifyPrice" message="tns:IService1_ModifyPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifyPriceResponse" message="tns:IService1_ModifyPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateABill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateABill" message="tns:IService1_CreateABill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateABillResponse" message="tns:IService1_CreateABill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFileArticles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllFileArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArticleToFile">
      <soap:operation soapAction="http://tempuri.org/IService1/AddArticleToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllArticlesToFile">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAllArticlesToFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifyPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateABill">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateABill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49774/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>